<html>
  <title>File Upload</title>
    <h2>File Upload</h2>

    <!-- just in case sth goes wrong //-->
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    <form action="/upload" method="POST" enctype=multipart/form-data>
      <p>Please upload an Excel file</p>
      <input type=file name=file>
      <input type=submit value=Upload>
    </form>
    <hr>
    <h2>Existing data sets</h2>
      {% for dir in dirs %}
        <li><a href="/results/{{ dir }}/index.html">{{ dir }}</a></li>
      {% endfor %}
<html>