<html>
  <title>File Upload</title>
    <h1>File Upload</h1>

    <!-- just in case sth goes wrong //-->
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    <form method=post enctype=multipart/form-data>
      <p>Please upload an Excel file</p>
      <input type=file name=file>
      <input type=submit value=Upload>
    </form>
<html>